.overlay-modal2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 100, 60, 0.5); /* Fundo escurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Para garantir que fique acima do conteúdo */
}

.alert-modal2{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(30, 100, 60, 0.8);
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    width: 20%;
    height: 20%;
} 

.ref-imagen{
    width: 100px;
    height: 100px;
    border-radius: 0px;
}

.acomodacoes_card{
    width: 950px;
    height: 950px;
    border-radius: 0.75rem;
    box-shadow: 0 6px 12px;
    padding: 2rem 2.5rem;
    justify-self: center;

}

.tipo_A{
    color: #8b4513;
}

.tipo_A h4{
    margin-left: 15px;
    margin-top: 10px;
}

.linha_1,
.linha_2,
.linha_3{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.UnidadeHotel,
.codigoQuarto,
.comodidades,
.diaria,
.adultos,
.criancas{
    font-size: 20px;
    color: #8b4513;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

select{
    border-radius: 6px;
    padding: 6px;
    width: 260px;
    border-color: #8b4513;
    padding: 8px 12px;
}

button.adicionar{
    width: 80px;
}

input{
    border-radius: 6px;
    padding: 6px;
    width: 235px;
    border-color: #8b4513;
    padding: 8px 12px;
}

.quantidade{
    font-size: 20px;
    color: #8b4513;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding-left: 30px;
}

.descricao {
    margin-left: 0; /* container no extra left margin */
}
.descricao .texto {
    margin-left: 44px; /* move label 30px from left */
    display: block;
    font-size: 20px;
    color: #8b4513;
}
.descricao textarea {
    margin-left: 44px; /* move textarea 30px from left */
    border-radius: 6px;
    border-color: #8b4513;
    border-style: double;
    width: 765px;
    height: 50px;
}

input[type="file"] {
    padding: 15px;
    color: #f5f5dc;
    font-size: 15px;
    padding-left: 45px;
    margin-top: 80px;
}

button.cad_quartos {
    margin-left: 40px;
    font-size: 15px;
}

img.ref-imagen {
    padding-left: 40px;
}

button.deletar_foto{
    margin-left: 40px;
}



