*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu{
    top: 20px;
    right: 50px;
    background: none;
    border: none;
    font-size: 40px;
    z-index: 1001;
    cursor: pointer;
    margin: 40px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Escondido inicialmente */
    width: 180px;
    height: 100vh;
    background-color: #f5f5dc;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar.open {
    right: 0; /* Mostra o menu */
}

.sidebar ul {
    list-style-type: none;
    display: block;
    justify-content: left;
    padding: 0;
    margin-top: 60px;
}

.sidebar ul li {
    display: block;
    justify-content: left;
    margin: 10px;
    font-size: 20px;
}

.sidebar ul li a {
    color: #8b4513;
    text-decoration: none;
}


  