*{
    margin: 0;
    padding: 0;
}

form{
    width: 100%;
}

.form_content {
    display: flex;
    justify-self: center;
    padding: 25px;
    width: 50%;
}

h5{
    display: flex;
    color: #2e8b57;
    font-size: 25px;
    justify-content: center;
    padding: 7px;
}

hr{
    display: flex;
    width: 60%;
    justify-self: center;
    background-color: #8b4513;
}

.informacoePessoais, .nacionalidade_documento, .contato_endereco{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5dc;
    margin: 15px;
    border-radius: 20px;
    border-style: double;
    border-color: #8b4513;

}

.alinhar_itens{
    display: inline-block;
    font-size: 18px;
    color: #8b4513;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;



}


.edit_label_input{

    width: 60%;
        

}

.edit_label_input input{
    display: block;
    width: 40%;
    border-radius: 10px;
    border-style: double;
    border-color: #8b4513;
    background-color: #f5f5dc;
        

}

.nacionalidade{
    flex-direction: column;
}

.opcao_1, .opcao_2{
    display: inline-flex;
    ;
}

.edit_opcoes{
    display: flex;
    flex-direction: column;
}

.resposta input{
    display: flex;
    width: 30%;
    border-radius: 10px;
    border-style: double;
    border-color: #8b4513;
    background-color: #f5f5dc;
}

button{
    display: flex;
    justify-self: center;
    color: #f5f5dc;
    background-color: #8b4513;
}


