*{
    margin: 0px;
    padding: 0px;
}

.form_content{
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 20px;
    width: 80%;
}

form{
    width: 100%;
}

.informacoePessoais, .nacionalidade_documento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    margin: 15px;
}

.alinhar_content{
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.edit_label_input{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px;
}

.alinhar_itens{
    display: flex;
    align-items: center;
    margin: 3pxs;
}