.alinhar-cadCargo-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.edit-carCargo-label{
    font-size: 20px;
    color: #8b4513;
}

.cadCargo-input{
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 6%;
    color: #8b4513;
    background-color: beige;
    border-color: #8b4513;
    border-radius: 10px;
    border-style: double;
}

.button-cad-cargo{
    background-color: #8b4513;
    color: #d3d3d3;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
}

.erro-mensagem{
    color: #2e8b57;
    font-size: 18px;
    text-align: center;
}